.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-md);
  margin-bottom: 1rem;
}

.icon-wrapper svg {
  color: var(--color-primary);
}

.icon-wrapper.default {
  width: 48px;
  height: 48px;
  background: var(--gradient-primary);
}

.icon-wrapper.default svg {
  color: white;
}

.icon-wrapper.gradient {
  width: 64px;
  height: 64px;
  background: var(--gradient-primary-alpha);
  margin-bottom: 1.5rem;
}
