.productCell {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.productThumb {
  width: 48px;
  height: 48px;
  border-radius: var(--border-radius-sm);
  object-fit: cover;
}

.productInfo h4 {
  font-weight: 600;
  margin: 0 0 0.25rem;
  font-size: 0.875rem;
}

.productInfo span {
  font-size: 0.75rem;
  color: var(--color-gray-400);
}
