---
import { Icon } from "astro-icon/components";
import "./IconWrapper.css";

interface Props {
  name: string;
  size?: number;
  variant?: "default" | "gradient";
}

const { name, size = 32, variant = "default" } = Astro.props;
---

<div class:list={["icon-wrapper", variant]}>
  <Icon {name} width={size} height={size} />
</div>
