---
import type { LayoutProps } from '@/types/layout';
import Footer from '@components/Footer/Footer.astro';
import Header from '@components/Header/Header.astro';
import Toast from '@components/ui/Toast/Toast.astro';
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from '@vercel/speed-insights/astro';
import '../styles/admin/admin.css';
import '../styles/global.css';
import Seo from './Seo.astro';

const {
  adm = false,
  theme = 'dark',
  activePage = '',
  htmlLang = 'pt-BR',
  hideHeaderFooter = false,
}: LayoutProps = Astro.props;
---

<!doctype html>
<html lang={htmlLang} data-theme={theme}>
  <Seo {adm} {...Astro.props} />
  <body>
    <Analytics />
    <SpeedInsights />
    <Toast />
    {!hideHeaderFooter && (adm ? <Header variant="admin" activePage={activePage} /> : <Header />)}
    <main class:list={adm ? ['admin-main'] : []}>
      <slot />
    </main>
    {!hideHeaderFooter && !adm && <Footer />}
  </body>
</html>
