---
const clientId = import.meta.env.GOOGLE_CLIENT_ID;
---

<script async defer is:inline src="https://accounts.google.com/gsi/client"></script>

<script is:inline>
  function decodeJWT(token) {
    const base64Url = token.split('.')[1];
    const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');

    const jsonPayload = decodeURIComponent(
      atob(base64)
        .split('')
        .map((c) => '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2))
        .join('')
    );

    return JSON.parse(jsonPayload);
  }

  window.handleCredentialResponse = function (response) {
    console.log('Encoded JWT:', response.credential);

    const payload = decodeJWT(response.credential);

    console.log('User:', payload);
    console.log('Name:', payload.name);
    console.log('Email:', payload.email);
  };
</script>

<div
  id="g_id_onload"
  data-client_id={clientId}
  data-callback="handleCredentialResponse"
  data-auto_prompt="false"
>
</div>

<div
  class="g_id_signin"
  data-type="standard"
  data-size="large"
  data-theme="outline"
  data-text="continue_with"
  data-shape="rectangular"
>
</div>
